.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
	article {
		margin: 0 auto;
		width: calc(90% - 20px);
	}
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
main {
	a {
		color: $color__link-content;
		border-bottom: solid 1px $color__link-content;
		text-decoration: none;
	}

}
body.has-sidebar {
	main {
		width: calc( 100% - 25px);
		margin: 0 auto;
	}
}
/* post archive */
.grid {
	max-width: 980px;
	display: block;
	column-count: 1;
	margin: 0 auto;
	&:after {
		content: '';
		display: block;
		clear: both;
	  }
	.grid-item {
		display: inline-block;
		margin: 1rem 1rem 1rem 0;
		background-color: $color__blogitembg;
		.portret { 
			float: left;
		}
		a {
			text-decoration: none;
			border-bottom: 0 none;
			div {
				padding: 1rem;
				h2 {
					padding-top: 0;
					margin-top: 0;
				}
				p {
					font-size: 1.125rem;
					font-weight: 400;
					line-height: 30px;
					color: $color__black;
				}
				.readmore {
					color: $color__dark-orange;
				}
		}
		}
	}
}
.grid-item .quote,
.testimonial .quote {
	quotes: "“" "”" "‘" "’";
}
.grid-item .quote::before,
.testimonial .quote::before {
	content: open-quote;
}
.grid-item .quote::after,
.testimonial .quote::after {
	content: close-quote;
}

// testimonials archive 
#content.testimonials {
	display: block;
	main {
		.intro {
			font-size: 1.5rem;
			font-weight: 300;
			color: $color__darkergrey;
		}
		.grid {

			.grid-item {
				padding: 20px 20px 18px;
				background-color: transparent;
				border-bottom: solid 1px $color__orange;
				h3 {
					font-size: 1.375rem;
					font-weight: 600;
					color: $color__grey;
					font-style: italic;
				}
				.quote {
					color: $color__grey;
					font-style: italic;
					margin: 0.75rem 0;
				}
				.persoon {
					.portret {
						width: 70px;
						height: 70px;
						border-radius: 50%;
					}
					p {
						margin-left: 100px;
						margin-bottom: 0;
						margin-top: 0;
						color: $color__grey;
						font-size: 1rem;
					}
				}
			}
		}
	
	}

}
body.home {
	
	#home-quote {
		.container {
			max-width: 780px;
			margin: 0 auto;
			padding: 2rem;
			font-size: 1.5rem;
			font-style: italic;
			text-align: center;
			margin: 0 auto;
			line-height: 1.3;
			i {
				font-size: 1rem;
			}		
		}

	}

	#homebottom {
		text-align: center;
		margin-top: 3rem;
		a {
			padding: 0 1rem;
			text-decoration: none;
			border: 0 none;
		}
	}
	
}
#banner {
	padding: 0;
	background-color: #f2f2f2;
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(189,189,189,1) 50%, rgba(255,255,255,1) 100%);
	.banner-wrapper {
		position: relative;
		padding: 0;
		max-width: 1280px;
		margin: 0 auto;
		background-position: right bottom;
		background-repeat: no-repeat;
		background-size: contain;
		.banner-image {
			img {
				width: 100%;
				display: flex;
			}
		}
	}
}
.testimonial {
	border-bottom: solid 4px $color__orange;
	margin-top: 4rem;
	padding: 1.25rem 1.25rem 2rem;
	h3 {
		font-size: 1.375rem;
		color: $color__grey;
		font-weight: 600;
		font-style: italic;
		margin: 0;
		line-height: 1.4;
	}
	.quote {
		font-style: italic;
		color: $color__grey;
		font-weight: 400;
	}
	.persoon {
		margin-top: 1rem;
		.portret {
			width: 70px;
			height: 70px;
			background-position: center center;
			background-repeat: no-repeat;
			border-radius: 50%;
			float: left;
			margin-right: 1rem;
		}
		p {
			color: $color__grey;
			font-weight: 400;
			margin: 0;
		}

	}
	&.block {
		margin-top: 1rem;
	}
}
.more_testimonials {
	margin-top: 20px;
	display: inline-block;
}

// inline form
article .wpcf7 {
	font-size: 1.125rem;
	line-height: 1.875rem;
	background-color: $color__light-grey;
	border: solid 1px $color__background-hr;
	padding: 0rem 2rem;
	img {
		display: inline;
		float: right;
		margin-left: 1rem;
		border-radius: 50%;
		border: solid 1px $color__background-hr;
	}
	h2 {
		clear: none;
		margin-top: 2rem;
	}
	h5 {
		margin-bottom: 0;
	}
	label {
		font-weight: 600;
	}
	textarea {
		height: 160px;
		width: 90%;
	}
	.wpcf7-submit {
		background-color: $color__dark-orange;
		color: $color__white;
		padding: 0.5rem 1rem 0.5rem 1rem;
		border-radius: 5px;
		text-transform: uppercase;
		font-weight: 600;
		margin-top: 1rem;
		margin-bottom: 1rem;
		display: inline-block;
	}
	.grey {
		color: $color__grey;
	}
	.clearboth {
		clear: both;
		margin-top: 2rem;
	}
	input {
		max-width: 100%;
	}
}
#page {
	article {
		ul {
			padding-left: 0;
		}
		.wpcf7 {
			background-color: transparent;
			border: 0 none;
			padding-left: 0;
			textarea {
				width: 92%;
			}
		}
		.left {
			border-right: solid 1px $color__border-input;
		}
		.right {
			.wp-block-image {
				text-align: center;
				&.is-style-rounded {
					img {
						border: solid 1px $color__border-input;
					}
				}
			}
			h4 {
				color: #000;
				font-weight: 600;
				margin-top: 1rem;	
				margin-bottom: 0;
			}
		}
		.leftcol {
			width: 44%;
			float: left;
		}
		.rightcol {
			width: 44%;
			float: left;
			margin-left: 20px;
		}
	}
}
footer.entry-footer {
	background-color: #f2f2f2;
	padding: 1rem;
	font-size: 0.8rem;
	.cat-links, .tag-links {
		margin-right: 1rem;
	}
}

.mc4wp-form {
	label {
		display: block;
	}
	input[type="submit"].redbutton {
		background-color: $color__red;
		color: $color__white;
		font-weight: 600;
		padding: 1rem 2rem;
		border: 0 none;
		text-transform: uppercase;
		display: inline-block;
	}
}
.map-responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
  
	iframe {
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		position: absolute;
	}
}
.examples {
	.grid-item {
		background-color: $color__white;
		display: inline-grid;
		grid-template-columns: 30% 70%;
		.logo {
			margin: 0;
			padding: 0.5rem;
			img {
				box-shadow: 0 0 5px rgba(0,0,0,.1);	
				padding:4px;
			}
		}
		.info {
			padding: 0 0 0 1rem;
			h3 {
				color: $color__footer-menu;
				margin-top: 0.5rem;
				margin-bottom: 0.5rem;
				font-weight: 600;
			}
			p {
				font-size: 1rem;
				line-height: 1.6;
			}
		}
	}
}
/* home blog section */
.home {
	#blog {
		margin-top: 4rem;
		.blog-wrapper {
			display: grid;
			grid-template-columns: 1fr;
			gap: 1rem;
			.grid-item {
				display: contents;
				a {
					text-decoration: none;
					border: 0 none;
					display: block;
					background-color: #eee;
					img {
						width: 100%;
					}
					p {
						margin: 0;
						font-size: 1rem;
						padding: 0.5rem;
						color: $color__footer-menu;
						font-weight: 600;

					}
				}
			}
		}
		.bloglink {
			text-align: center;
		}
	}
}
.redbutton {
	color: $color__white;
	background-color: #dd1c13;
	padding: 0.5rem 0.75rem;
	border-radius: 5px;
	font-weight: 600;
	margin-top: 1rem;
	display: inline-block;
	&:visited {
		color: $color__white;
	}
}
// event listing
#events {
	max-width: 800px;
	margin: 0 auto;
	.event-list {
		.event {
			border: 0 none;
			display: grid;
			grid-template-columns: 140px auto;
			padding: 0 0 1rem 0;
			.eventimage {
				display: block;
				width: 100px;
				height: 100px;
				background-position: center center;
				border-radius: 8px;
			}
			.eventdetails {
				.dates {
					color: red;
					font-size: 0.8rem;
					font-weight: 600;
				}
				h3 {
					margin: 0;
				}
				p {
					margin-top: 0.2rem;
					color: $color__text-main;
					font-size: 1rem;
				}
			}
		}
	}
	
}

@media screen and (min-width: 560px) {
	body.home {
		#banner {
			#banner-wrapper {
				#banner-content {
					background: 0 none;
					width: 80%;
					h1 {
						font-size: 1.6rem;
						margin-top: 2rem;
					}
				}
			}
		}
		#blog {
			.blog-wrapper {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}
	}

}
@media screen and (min-width: 768px) {
	body.home {
		#banner {
			#banner-wrapper {
				#banner-content {
					background: 0 none;
					width: 70%;
					margin-right: 5%;
					h1 {
						font-size: 2rem;
						margin-top: 3rem;
					}
					.banner-content {
						width: 100%;
						margin-left: 0;
						font-size: 1.2rem;
						margin-top: 2rem;
						.wp-block-columns {
							justify-content: flex-end;
							a {
								font-size: 18px;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1024px) {
	body.home {
		#banner {
			#banner-wrapper {
				#banner-content {
					background: 0 none;
					width: 60%;
					h1 {
						margin-top: 8rem;
					}
				}
			}
		}
	}
}

