﻿/*!
Theme Name: ZooZen Theme
Theme URI: http://underscores.me/
Author: Ronnie Stevens
Author URI: http://underscores.me/
Description: Custom theme: ZooZen Theme, developed by Ronnie Stevens
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: zoozen-theme
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

ZooZen Theme is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*//*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:0.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace, monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace, monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:0.35em 0.75em 0.625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}*,*::before,*::after{box-sizing:inherit}html{box-sizing:border-box}body,button,input,select,optgroup,textarea{color:#404040;font-family:"Open Sans",sans-serif;font-size:1.125rem;line-height:1.75rem;font-weight:400}h1,h2,h3,h4,h5,h6{clear:both;font-family:'Raleway', sans-serif}h1{color:#333;font-size:2.5rem;font-weight:300;margin:4.25rem 0 0.5rem;line-height:3.625rem}h2{color:#d08b0b;font-weight:400;font-size:1.6rem;margin-top:3rem}h3,h4{color:#d08b0b;font-weight:400}p{margin:0.75rem 0}dfn,cite,em,i{font-style:italic}blockquote{margin:0 1.5em}address{margin:0 0 1.5em}pre{background:#eee;font-family:"Courier 10 Pitch",courier,monospace;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em}code,kbd,tt,var{font-family:monaco,consolas,"Andale Mono","DejaVu Sans Mono",monospace}abbr,acronym{border-bottom:1px dotted #666;cursor:help}mark,ins{background:#fff9c0;text-decoration:none}big{font-size:125%}@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local("Open Sans Light"),local("OpenSans-Light"),url("./fonts/open-sans-v18-latin-300.woff2") format("woff2"),url("./fonts/open-sans-v18-latin-300.woff") format("woff")}@font-face{font-family:'Open Sans';font-style:italic;font-weight:300;src:local("Open Sans Light Italic"),local("OpenSans-LightItalic"),url("./fonts/open-sans-v18-latin-300italic.woff2") format("woff2"),url("./fonts/open-sans-v18-latin-300italic.woff") format("woff")}@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local("Open Sans Regular"),local("OpenSans-Regular"),url("./fonts/open-sans-v18-latin-regular.woff2") format("woff2"),url("./fonts/open-sans-v18-latin-regular.woff") format("woff")}@font-face{font-family:'Open Sans';font-style:italic;font-weight:400;src:local("Open Sans Italic"),local("OpenSans-Italic"),url("./fonts/open-sans-v18-latin-italic.woff2") format("woff2"),url("./fonts/open-sans-v18-latin-italic.woff") format("woff")}@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local("Open Sans SemiBold"),local("OpenSans-SemiBold"),url("./fonts/open-sans-v18-latin-600.woff2") format("woff2"),url("./fonts/open-sans-v18-latin-600.woff") format("woff")}@font-face{font-family:'Open Sans';font-style:italic;font-weight:600;src:local("Open Sans SemiBold Italic"),local("OpenSans-SemiBoldItalic"),url("./fonts/open-sans-v18-latin-600italic.woff2") format("woff2"),url("./fonts/open-sans-v18-latin-600italic.woff") format("woff")}@font-face{font-family:'Raleway';font-style:normal;font-weight:400;src:local(""),url("./fonts/raleway-v18-latin-regular.woff2") format("woff2"),url("./fonts/raleway-v18-latin-regular.woff") format("woff")}@font-face{font-family:'Raleway';font-style:normal;font-weight:600;src:local(""),url("./fonts/raleway-v18-latin-600.woff2") format("woff2"),url("./fonts/raleway-v18-latin-600.woff") format("woff")}body{background:#fff}.site-header{border-bottom:solid 12px #025788}.site-header #header-inner-wrapper{display:grid;grid-template-columns:200px auto;max-width:980px;margin:0 auto}.site-header #header-inner-wrapper .site-branding{padding-left:1rem}.site-header #header-inner-wrapper .site-branding .site-title{margin-top:-20px;text-align:center;font-family:'Raleway', sans-serif}.site-header #header-inner-wrapper .site-branding .site-title a{text-decoration:none;color:#000;font-size:1.2rem;font-weight:600;letter-spacing:2px}.site-header #header-inner-wrapper .site-branding .site-description{margin-top:0;margin-bottom:1rem;font-size:0.85rem}@media screen and (min-width: 62.5em){.site-header{border-bottom:solid 1px #f7f7f7}.site-header #header-inner-wrapper{grid-template-columns:20% 80%}}hr{background-color:#ccc;border:0;height:1px;margin-bottom:1.5em}ul,ol{margin:0 0 1.5em 1em}ul{list-style:disc}ol{list-style:decimal}li>ul,li>ol{margin-bottom:0;margin-left:1.5em}dt{font-weight:600}dd{margin:0 1.5em 1.5em}embed,iframe,object{max-width:100%}img{height:auto;max-width:100%}figure{margin:1em 0}table{margin:0 0 1.5em;width:100%}a{color:#0185d0}a:visited{color:#025788}a:hover,a:focus,a:active{color:#025788}a:focus{outline:thin dotted}a:hover,a:active{outline:0}button,input[type="button"],input[type="reset"],input[type="submit"]{border:1px solid;border-color:#ccc #ccc #bbb;border-radius:3px;background:#e6e6e6;color:rgba(0,0,0,0.8);line-height:1;padding:0.6em 1em 0.4em}button:hover,input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover{border-color:#ccc #bbb #aaa}button:active,button:focus,input[type="button"]:active,input[type="button"]:focus,input[type="reset"]:active,input[type="reset"]:focus,input[type="submit"]:active,input[type="submit"]:focus{border-color:#aaa #bbb #bbb}input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],input[type="number"],input[type="tel"],input[type="range"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="color"],textarea{color:#666;border:1px solid #ccc;border-radius:3px;padding:3px}input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="number"]:focus,input[type="tel"]:focus,input[type="range"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="week"]:focus,input[type="time"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="color"]:focus,textarea:focus{color:#111}select{border:1px solid #ccc}textarea{width:100%}.no-sidebar .site{display:grid;grid-template-columns:auto;grid-template-areas:"header" "main" "footer"}.no-sidebar main{max-width:980px;margin:0 auto}@media screen and (min-width: 62.5em){.single-post #content{display:grid;grid-template-columns:auto 25%}}.main-navigation{display:flex;flex-wrap:wrap;width:100%}.main-navigation .menu-top-menu-container{width:100%;justify-content:flex-end}.main-navigation .menu-main-menu-container{width:100%;justify-content:flex-end}.main-navigation .menu-item.current-menu-item a{color:#888}.main-navigation ul{display:none;list-style:none;margin:1.5rem 0 0;padding-left:0}.main-navigation ul li{padding:0 1rem}.main-navigation ul ul{box-shadow:0 2px 2px rgba(0,0,0,0.2);float:left;position:absolute;top:100%;left:-999em;z-index:99999;margin-top:0;padding-top:1rem;padding-bottom:0.5rem}.main-navigation ul ul ul{left:-999em;top:0}.main-navigation ul ul li:hover>ul,.main-navigation ul ul li.focus>ul{display:block;left:auto}.main-navigation ul ul a{width:200px}.main-navigation ul li:hover>ul,.main-navigation ul li.focus>ul{left:auto}.main-navigation li{position:relative}.main-navigation a{color:#000;display:block;text-decoration:none;font-size:16px;font-weight:600;letter-spacing:1px;line-height:1.3rem}.main-navigation a:hover{color:#888}.main-navigation #primary-menu a{letter-spacing:0}#openMobileMenu{border:0 none;width:100px;height:80px;background-color:transparent;padding:0;position:absolute;right:30px;top:50px;display:block}#openMobileMenu .toggle-line{width:40px;height:4px;background-color:#025788;margin:7px auto}@media screen and (min-width: 62.5em){.menu-toggle,#openMobileMenu{display:none}.main-navigation ul{display:flex;justify-content:flex-end}}.site-main .comment-navigation,.site-main .posts-navigation,.site-main .post-navigation{margin:0 0 1.5em}.comment-navigation .nav-links,.posts-navigation .nav-links,.post-navigation .nav-links{display:flex}.comment-navigation .nav-previous,.posts-navigation .nav-previous,.post-navigation .nav-previous{flex:1 0 50%}.comment-navigation .nav-next,.posts-navigation .nav-next,.post-navigation .nav-next{text-align:end;flex:1 0 50%}#top_menu{display:flex;justify-content:flex-end;margin:1rem 0}#top_menu li a{font-size:0.8rem;font-weight:600;line-height:0.8rem;color:#d08b0b}#top_menu li a:hover{color:#000;border:0 none}#top_menu li.current-menu-item a{border:0 none}#top_menu .menu-item-home a{padding-left:18px;background-image:url("./assets/images/home-solid.svg");background-repeat:no-repeat;background-position:left center}#top_menu .menu-item-home a:hover,#top_menu .menu-item-home a:active{background-image:url("./assets/images/home-solid-white.svg")}#top_menu .menu-item-home.current-menu-item a{background-image:url("./assets/images/home-solid-white.svg")}#top_menu #menu-item-28{position:relative}#top_menu #menu-item-28 .counter{position:absolute;top:-6px;right:-5px;background-color:#BA0D19;display:inline-block;color:#fff;width:17px;height:17px;font-size:0.8rem;padding:0;text-align:center;line-height:1.3;border-radius:50%}@media screen and (max-width: 62.5em){#top_menu{display:none}}.modal{display:none;position:fixed;z-index:1000;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:#025788}.modal .close{color:#009fc7;position:absolute;right:67px;top:55px;font-size:50px;font-weight:400}.modal .close:hover,.modal .close:focus{color:black;text-decoration:none;cursor:pointer}.modal .modal-content{margin:auto auto;padding:20px;width:100%}.modal .modal-content ul{text-align:center;list-style-type:none;margin:0;padding:0}.modal .modal-content ul li{padding:0.25rem 0}.modal .modal-content ul li a{color:#fff;font-size:1.25rem;font-weight:600;text-decoration:none}.modal .modal-content ul li.current-menu-item a{color:#009fc7}.site-footer .footer-menu{background-color:#000}.site-footer .footer-menu .menu-footer-menu-container{margin-bottom:0}.site-footer .footer-menu .menu-footer-menu-container ul{padding:1rem 0;margin-left:20px;margin-bottom:0}.site-footer .footer-menu .menu-footer-menu-container ul li{display:inline}.site-footer .footer-menu .menu-footer-menu-container ul li a{font-size:0.83rem;color:#fff;text-decoration:none;padding-left:5px;font-weight:300}.site-footer .footer-menu .menu-footer-menu-container ul li a:hover{color:#fff;transition:0.5s}.site-footer .footer-menu .menu-footer-menu-container ul li:not(:last-child) a{border-right:solid 1px #fff;padding:0 10px 0 5px}.site-footer .site-info{margin:1rem auto;display:grid;grid-template-columns:1fr 1fr 1fr;column-gap:1rem;color:#fff}.site-footer .site-info h2{color:#fff}.site-footer .copy{font-size:13px;color:#888888;text-align:center;padding:1rem}.site-footer .copy a{color:#888888;text-decoration:none}.sticky{display:block}.post,.page{margin:0 0 1.5em}.post article,.page article{margin:0 auto;width:calc(90% - 20px)}.updated:not(.published){display:none}.page-content,.entry-content,.entry-summary{margin:1.5em 0 0}.page-links{clear:both;margin:0 0 1.5em}main a{color:#0185d0;border-bottom:solid 1px #0185d0;text-decoration:none}body.has-sidebar main{width:calc( 100% - 25px);margin:0 auto}.grid{max-width:980px;display:block;column-count:1;margin:0 auto}.grid:after{content:'';display:block;clear:both}.grid .grid-item{display:inline-block;margin:1rem 1rem 1rem 0;background-color:#f2f2f2}.grid .grid-item .portret{float:left}.grid .grid-item a{text-decoration:none;border-bottom:0 none}.grid .grid-item a div{padding:1rem}.grid .grid-item a div h2{padding-top:0;margin-top:0}.grid .grid-item a div p{font-size:1.125rem;font-weight:400;line-height:30px;color:#000}.grid .grid-item a div .readmore{color:#d08b0b}.grid-item .quote,.testimonial .quote{quotes:"“" "”" "‘" "’"}.grid-item .quote::before,.testimonial .quote::before{content:open-quote}.grid-item .quote::after,.testimonial .quote::after{content:close-quote}#content.testimonials{display:block}#content.testimonials main .intro{font-size:1.5rem;font-weight:300;color:#666}#content.testimonials main .grid .grid-item{padding:20px 20px 18px;background-color:transparent;border-bottom:solid 1px #ffb01e}#content.testimonials main .grid .grid-item h3{font-size:1.375rem;font-weight:600;color:#888;font-style:italic}#content.testimonials main .grid .grid-item .quote{color:#888;font-style:italic;margin:0.75rem 0}#content.testimonials main .grid .grid-item .persoon .portret{width:70px;height:70px;border-radius:50%}#content.testimonials main .grid .grid-item .persoon p{margin-left:100px;margin-bottom:0;margin-top:0;color:#888;font-size:1rem}body.home #home-quote .container{max-width:780px;margin:0 auto;padding:2rem;font-size:1.5rem;font-style:italic;text-align:center;margin:0 auto;line-height:1.3}body.home #home-quote .container i{font-size:1rem}body.home #homebottom{text-align:center;margin-top:3rem}body.home #homebottom a{padding:0 1rem;text-decoration:none;border:0 none}#banner{padding:0;background-color:#f2f2f2;background:linear-gradient(90deg, #fff 0%, #bdbdbd 50%, #fff 100%)}#banner .banner-wrapper{position:relative;padding:0;max-width:1280px;margin:0 auto;background-position:right bottom;background-repeat:no-repeat;background-size:contain}#banner .banner-wrapper .banner-image img{width:100%;display:flex}.testimonial{border-bottom:solid 4px #ffb01e;margin-top:4rem;padding:1.25rem 1.25rem 2rem}.testimonial h3{font-size:1.375rem;color:#888;font-weight:600;font-style:italic;margin:0;line-height:1.4}.testimonial .quote{font-style:italic;color:#888;font-weight:400}.testimonial .persoon{margin-top:1rem}.testimonial .persoon .portret{width:70px;height:70px;background-position:center center;background-repeat:no-repeat;border-radius:50%;float:left;margin-right:1rem}.testimonial .persoon p{color:#888;font-weight:400;margin:0}.testimonial.block{margin-top:1rem}.more_testimonials{margin-top:20px;display:inline-block}article .wpcf7{font-size:1.125rem;line-height:1.875rem;background-color:#f7f7f7;border:solid 1px #ccc;padding:0rem 2rem}article .wpcf7 img{display:inline;float:right;margin-left:1rem;border-radius:50%;border:solid 1px #ccc}article .wpcf7 h2{clear:none;margin-top:2rem}article .wpcf7 h5{margin-bottom:0}article .wpcf7 label{font-weight:600}article .wpcf7 textarea{height:160px;width:90%}article .wpcf7 .wpcf7-submit{background-color:#d08b0b;color:#fff;padding:0.5rem 1rem 0.5rem 1rem;border-radius:5px;text-transform:uppercase;font-weight:600;margin-top:1rem;margin-bottom:1rem;display:inline-block}article .wpcf7 .grey{color:#888}article .wpcf7 .clearboth{clear:both;margin-top:2rem}article .wpcf7 input{max-width:100%}#page article ul{padding-left:0}#page article .wpcf7{background-color:transparent;border:0 none;padding-left:0}#page article .wpcf7 textarea{width:92%}#page article .left{border-right:solid 1px #ccc}#page article .right .wp-block-image{text-align:center}#page article .right .wp-block-image.is-style-rounded img{border:solid 1px #ccc}#page article .right h4{color:#000;font-weight:600;margin-top:1rem;margin-bottom:0}#page article .leftcol{width:44%;float:left}#page article .rightcol{width:44%;float:left;margin-left:20px}footer.entry-footer{background-color:#f2f2f2;padding:1rem;font-size:0.8rem}footer.entry-footer .cat-links,footer.entry-footer .tag-links{margin-right:1rem}.mc4wp-form label{display:block}.mc4wp-form input[type="submit"].redbutton{background-color:#dd1c13;color:#fff;font-weight:600;padding:1rem 2rem;border:0 none;text-transform:uppercase;display:inline-block}.map-responsive{overflow:hidden;padding-bottom:56.25%;position:relative;height:0}.map-responsive iframe{left:0;top:0;height:100%;width:100%;position:absolute}.examples .grid-item{background-color:#fff;display:inline-grid;grid-template-columns:30% 70%}.examples .grid-item .logo{margin:0;padding:0.5rem}.examples .grid-item .logo img{box-shadow:0 0 5px rgba(0,0,0,0.1);padding:4px}.examples .grid-item .info{padding:0 0 0 1rem}.examples .grid-item .info h3{color:#025788;margin-top:0.5rem;margin-bottom:0.5rem;font-weight:600}.examples .grid-item .info p{font-size:1rem;line-height:1.6}.home #blog{margin-top:4rem}.home #blog .blog-wrapper{display:grid;grid-template-columns:1fr;gap:1rem}.home #blog .blog-wrapper .grid-item{display:contents}.home #blog .blog-wrapper .grid-item a{text-decoration:none;border:0 none;display:block;background-color:#eee}.home #blog .blog-wrapper .grid-item a img{width:100%}.home #blog .blog-wrapper .grid-item a p{margin:0;font-size:1rem;padding:0.5rem;color:#025788;font-weight:600}.home #blog .bloglink{text-align:center}.redbutton{color:#fff;background-color:#dd1c13;padding:0.5rem 0.75rem;border-radius:5px;font-weight:600;margin-top:1rem;display:inline-block}.redbutton:visited{color:#fff}#events{max-width:800px;margin:0 auto}#events .event-list .event{border:0 none;display:grid;grid-template-columns:140px auto;padding:0 0 1rem 0}#events .event-list .event .eventimage{display:block;width:100px;height:100px;background-position:center center;border-radius:8px}#events .event-list .event .eventdetails .dates{color:red;font-size:0.8rem;font-weight:600}#events .event-list .event .eventdetails h3{margin:0}#events .event-list .event .eventdetails p{margin-top:0.2rem;color:#404040;font-size:1rem}@media screen and (min-width: 560px){body.home #banner #banner-wrapper #banner-content{background:0 none;width:80%}body.home #banner #banner-wrapper #banner-content h1{font-size:1.6rem;margin-top:2rem}body.home #blog .blog-wrapper{grid-template-columns:1fr 1fr 1fr}}@media screen and (min-width: 768px){body.home #banner #banner-wrapper #banner-content{background:0 none;width:70%;margin-right:5%}body.home #banner #banner-wrapper #banner-content h1{font-size:2rem;margin-top:3rem}body.home #banner #banner-wrapper #banner-content .banner-content{width:100%;margin-left:0;font-size:1.2rem;margin-top:2rem}body.home #banner #banner-wrapper #banner-content .banner-content .wp-block-columns{justify-content:flex-end}body.home #banner #banner-wrapper #banner-content .banner-content .wp-block-columns a{font-size:18px}}@media screen and (min-width: 1024px){body.home #banner #banner-wrapper #banner-content{background:0 none;width:60%}body.home #banner #banner-wrapper #banner-content h1{margin-top:8rem}}.comment-content a{word-wrap:break-word}.bypostauthor{display:block}.widget{margin:0 0 1.5em;padding:25px 10px 0 20px;background-color:transparent;font-size:1rem}.widget select{max-width:100%}.widget h2.widget-title{font-size:1.25rem;font-weight:600;line-height:1.875rem;margin-top:0}.widget p,.widget a{font-size:0.875rem}.widget a{color:#fff;display:block;font-size:1rem;text-decoration:none;margin-bottom:0.5rem}.widget a:hover{color:#f2f2f2}.widget.widget_recent_entries{padding:0}.widget.widget_recent_entries .widget-title{background-color:#025788;color:#fff;padding:0.5rem 1rem}.widget.widget_recent_entries ul{list-style-type:none;margin-left:0;padding-left:0}.widget.widget_recent_entries ul li{display:block;padding:0.5rem 1rem;border-bottom:solid 1px #fff}.widget.widget_recent_entries ul li a{text-decoration:none;color:#025788;font-size:1.125rem;border:0 none;font-weight:300}.has-sidebar aside{margin:1rem}.has-sidebar aside .widget{background-color:#f2f2f2}.has-sidebar aside .widget a:hover{color:#d08b0b}#home-widgets{display:grid;grid-template-columns:1fr}#home-widgets .widget{padding-left:0;width:100%}#home-widgets .widget h2{font-size:1.2rem;font-weight:600;text-transform:uppercase;margin-bottom:0}#home-widgets .widget h3{font-size:1.875rem;font-weight:600;color:#025788;margin:0;line-height:1}#home-widgets .widget p{font-size:1rem}#home-widgets .widget a{background-color:#d08b0b;border:0 none;color:#fff;padding:0.5rem 1rem;width:fit-content;border-radius:5px;text-transform:uppercase;font-weight:600;margin-top:1rem;display:inline-block}@media only screen and (min-width: 1000px){body.home #content{grid-template-columns:100% 0%}body.home #content #home-widgets{grid-template-columns:1fr 1fr 1fr;gap:1rem;border-bottom:solid 1px #ddd;padding-bottom:2rem;margin-top:2rem}body.home #content #home-widgets .widget{border-left:solid 1px #ddd;padding-left:1rem}body.home #content #home-widgets .textwidget{display:flex;flex-direction:column;height:calc( 100% - 40px)}body.home #content #home-widgets .textwidget p.grow{flex-grow:1}#custom_html-3{padding-bottom:350px}.has-sidebar aside{margin:0}}.page-content .wp-smiley,.entry-content .wp-smiley,.comment-content .wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}.custom-logo-link{display:inline-block}.wp-caption{margin-bottom:1.5em;max-width:100%}.wp-caption img[class*="wp-image-"]{display:block;margin-left:auto;margin-right:auto}.wp-caption .wp-caption-text{margin:0.8075em 0}.wp-caption-text{text-align:center}.gallery{margin-bottom:1.5em;display:grid;grid-gap:1.5em}.gallery-item{display:inline-block;text-align:center;width:100%}.gallery-columns-2{grid-template-columns:repeat(2, 1fr)}.gallery-columns-3{grid-template-columns:repeat(3, 1fr)}.gallery-columns-4{grid-template-columns:repeat(4, 1fr)}.gallery-columns-5{grid-template-columns:repeat(5, 1fr)}.gallery-columns-6{grid-template-columns:repeat(6, 1fr)}.gallery-columns-7{grid-template-columns:repeat(7, 1fr)}.gallery-columns-8{grid-template-columns:repeat(8, 1fr)}.gallery-columns-9{grid-template-columns:repeat(9, 1fr)}.gallery-caption{display:block}.infinite-scroll .posts-navigation,.infinite-scroll.neverending .site-footer{display:none}.infinity-end.neverending .site-footer{display:block}.screen-reader-text{border:0;clip:rect(1px, 1px, 1px, 1px);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute !important;width:1px;word-wrap:normal !important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,0.6);clip:auto !important;clip-path:none;color:#21759b;display:block;font-size:0.875rem;font-weight:600;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}#primary[tabindex="-1"]:focus{outline:0}.alignleft{float:left;margin-right:1.5em;margin-bottom:1.5em}.alignright{float:right;margin-left:1.5em;margin-bottom:1.5em}.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;margin-bottom:1.5em}footer{background-color:#025788}#content,.site-info,.menu-footer-menu-container{max-width:980px;padding:0}#content{margin:0 auto 1rem auto}
