h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: 'Raleway', sans-serif;
}
h1 {
	color: $color__darkgrey;
	font-size: 2.5rem;
	font-weight: 300;
	margin: 4.25rem 0 0.5rem;
	line-height: 3.625rem;
}
h2 {
	color: $color__dark-orange;
	font-weight: 400;
	font-size: 1.6rem;
	margin-top: 3rem;
}
h3, h4 {
	color: $color__dark-orange;
	font-weight: 400;
}