.site-footer {
    .footer-menu {
        background-color: $color__black;
        .menu-footer-menu-container {    
            margin-bottom: 0;
            ul {
                padding: 1rem 0;
                margin-left: 20px;
                margin-bottom: 0;
                li {
                    display: inline;
                    a {    
                        font-size: 0.83rem;
                        color: $color__white;
                        text-decoration: none;
                        padding-left: 5px;
                        font-weight: 300;
                        &:hover {
                            color: $color__white;
                            transition: 0.5s;
                        }
                    }
            
                    &:not(:last-child) {
                        a {
                            border-right: solid 1px $color__white;
                            padding: 0 10px 0 5px;
                            }
                    }
                }
            }
        }
    }
    .site-info {
        margin: 1rem auto;
            display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
        color: $color__white;
        h2 {
            color: $color__white;
        }
    }
    .copy {
        font-size: 13px;
        color: #888888;
        text-align: center;
        padding: 1rem;
        a {
            color: #888888;
            text-decoration: none;

        }
    }    
}