.main-navigation {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	.menu-top-menu-container {
		width: 100%;
		justify-content: flex-end;
	}
	.menu-main-menu-container {
		width: 100%;
		justify-content: flex-end;
	}
	.menu-item.current-menu-item a{
		color: $color__grey;
	}
	ul {
		display: none;
		list-style: none;
		margin: 1.5rem 0 0;
		padding-left: 0;
		li {
			padding: 0 1rem;
		}
		ul {
			box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			margin-top: 0;
			padding-top: 1rem;
			padding-bottom: 0.5rem;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		color: $color__black;
		display: block;
		text-decoration: none;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 1px;
		line-height: 1.3rem;
		&:hover {
			color: $color__grey;
		}
	}
	#primary-menu {
		a {
			letter-spacing: 0;
		}
	}
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}


}

/* Small menu. */
#openMobileMenu {
	border: 0 none;
    width: 100px;
    height: 80px;
    background-color: transparent;
    padding: 0;
    position: absolute;
    right: 30px;
    top: 50px;    
	display: block;
	.toggle-line {
		width: 40px;
		height: 4px;
		background-color: $color__dark-blue;
		margin: 7px auto;
	}
}

@media screen and (min-width: 62.5em) {

	.menu-toggle, #openMobileMenu {
		display: none;
	}

	.main-navigation ul {
		display: flex;
		justify-content: flex-end;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
