#top_menu {
    display: flex;
    justify-content: flex-end;	
    margin: 1rem 0;
    li {
        a {
            font-size: 0.8rem;
            font-weight: 600;
            line-height: 0.8rem;
            color: $color__dark-orange;
            &:hover {
                color: $color__black;
                border: 0 none;
            }
        }
        &.current-menu-item a {
            border: 0 none;
        }
    
    }
    .menu-item-home {
        a {
            padding-left: 18px;
            background-image: url('./assets/images/home-solid.svg');
            background-repeat: no-repeat;
            background-position: left center;
            &:hover, &:active  {
                background-image: url('./assets/images/home-solid-white.svg');
            }   
        }
        &.current-menu-item a {
            background-image: url('./assets/images/home-solid-white.svg');
        }
    }
    #menu-item-28 {
        position: relative;
        .counter {
            position: absolute;
            top: -6px;
            right: -5px;
            background-color: #BA0D19;
            display: inline-block;
            color: $color__white;
            width: 17px;
            height: 17px;
            font-size: 0.8rem;
            padding: 0;
            text-align: center;
            line-height: 1.3;
            border-radius: 50%;
        }
    }

}

@media screen and (max-width: 62.5em) {
    #top_menu {
        display: none;
    }

}