.site-header {
    // background-color: $color__dark-blue;
    border-bottom: solid 12px $color__dark-blue;
    #header-inner-wrapper {
        display: grid;
        grid-template-columns: 200px auto;
        // border: solid 1px #0d333e;
        max-width: 980px;
        margin: 0 auto;
        .site-branding {
            padding-left: 1rem;
            .site-title {
                margin-top: -20px;
                text-align: center;
                font-family: 'Raleway', sans-serif;
                a {
                    text-decoration: none;
                    color: $color__black;
                    font-size: 1.2rem;
                    font-weight: 600;
                    letter-spacing: 2px;
                }
            }
            .site-description {
                margin-top: 0;
                margin-bottom: 1rem;
                font-size: 0.85rem;
            }
        }
    }
}

@media screen and (min-width: 62.5em) {
    .site-header {
        border-bottom: solid 1px $color__light-grey;
        #header-inner-wrapper {
            grid-template-columns: 20% 80%;
        }
    }
}