.no-sidebar {

	.site {
		display: grid;
		grid-template-columns: auto;
		grid-template-areas:
			"header"
			"main"
			"footer";
	}
	main {
		max-width: 980px;
		margin: 0 auto;
	}
}

@media screen and (min-width: 62.5em) {

	.single-post {
		#content {
			display: grid;
			grid-template-columns: auto ($size__site-sidebar);

		}
	}
}