.widget {
	margin: 0 0 1.5em;
	padding: 25px 10px 0 20px;
	background-color: $color__background-widget;
	font-size: 1rem;
	// color: $color__white;
	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
	h2.widget-title {
		font-size: 1.25rem;
		font-weight: 600;
		line-height: 1.875rem;
		margin-top: 0;
		// color: $color__white;
	}
	p, a {
		font-size: 0.875rem;
	}
	a {
		color: $color__white;
		display: block;
		font-size: 1rem;
		text-decoration: none;
		margin-bottom: 0.5rem;
		&:hover {
			color: #f2f2f2;
		}
	}
	&.widget_recent_entries	{
		padding: 0;
		.widget-title {
			background-color: $color__footer-menu;
			color: $color__white;
			padding: 0.5rem 1rem;
		}
		ul {
			list-style-type: none;
			margin-left: 0;
			padding-left: 0;
			li {
				display: block;
				padding: 0.5rem 1rem;
				border-bottom: solid 1px $color__white;
				a {
					text-decoration: none;
					color: $color__footer-menu;
					font-size: 1.125rem;
					border: 0 none;
					font-weight: 300;
				}
			}
		}
	}
}
.has-sidebar {
	aside {
		margin: 1rem;
		.widget {
			background-color: #f2f2f2;
			a:hover {
				color: $color__dark-orange;
			}
		}
	}

}

#home-widgets {
	display: grid;
	grid-template-columns: 1fr;
	.widget {
		padding-left: 0;
		width: 100%;
		h2 {
			font-size: 1.2rem;
			font-weight: 600;
			text-transform: uppercase;
			margin-bottom: 0;
		}
		h3 {
			font-size: 1.875rem;
			font-weight: 600;
			color: $color__footer-menu;
			margin: 0;
			line-height: 1;
		}
		p {
			font-size: 1rem;
		}
		a {
			background-color: $color__dark-orange;
			border: 0 none;
			color: $color__white;
			padding: 0.5rem 1rem;
			width: fit-content;
			border-radius: 5px;
			text-transform: uppercase;
			font-weight: 600;
			margin-top: 1rem;
			display: inline-block;
		}
	}
}

@media only screen and (min-width: 1000px) {
	body.home {

		#content {
			grid-template-columns: 100% 0%;
			#home-widgets {
				grid-template-columns: 1fr 1fr 1fr;
				gap: 1rem;
				border-bottom: solid 1px #ddd;
				padding-bottom: 2rem;
				margin-top: 2rem;
				.widget {
					border-left: solid 1px #ddd;
					padding-left: 1rem;

				}
				.textwidget {
					display: flex;
					flex-direction: column;
					height: calc( 100% - 40px);
					p.grow {
						flex-grow: 1;
					}
				}
			}
		}
	}
	#custom_html-3 {
		padding-bottom: 350px;
		
	}
	.has-sidebar {
		aside {
			margin: 0;
		}
	}
}

