$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-widget: transparent;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #0185d0; //royalblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__border-testimonial: #009fc7;

$color__grey-blue: #bbe7f2;
$color__light-blue: #009fc7;
$color__white: #ffffff;
$color__black: #000000;
$color__red: #dd1c13;

$color__blogitembg: #f2f2f2;
$color__light-grey: #f7f7f7;
$color__darkergrey: #666666;

$color__lightgreen: #79BE0B;
$color__grey: #888888;
$color__darkgrey: #333333;
$color__orange: #ffb01e;
$color__dark-orange: #d08b0b;
$color__link-visited: #025788; //purple
$color__link-hover: #025788; //midnightblue
$color__link-content: #0185d0;
$color__footer-background: #025788;
$color__footer-menu: #025788;
$color__footer-menuitems: #ffffff;
$color__dark-blue: $color__footer-background;

