// stylelint-disable value-keyword-case
$font__main: "Open Sans", sans-serif;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.75rem;
$font__line-height-pre: 1.6;
